.header-enter {
	opacity: 0;
}
.header-enter-active {
	opacity: 1;
	transition: all 500ms;
}
.header-exit {
	opacity: 1;
}
.header-exit-active {
	opacity: 0;
	transition: all 500ms;
}

.list-enter {
	opacity: 0.01;
	transform: translateX(200px);
}
.list-enter-active {
	opacity: 1;
	transform: translateX(0);
	transition: all 500ms;
}
.list-exit {
	opacity: 1;
	transform: translateX(0);
}
.list-exit-active {
	opacity: 0.01;
	transform: translateX(200px);
	transition: all 500ms;
}
